<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wise Cook demo application for Rezdy company">
    <meta name="author" content="Andrey Prikaznov">
    <title>Wise Cook</title>

    <!-- bootstrap - compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">

        <!-- navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Wise Cook</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">About</a></li>
                </ul>
                </div>
            </div>
        </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="main">
        <lunch inline-template>
            <div>
                <button class="btn btn-default" v-on:click="whatsForLunch">What’s for lunch</button>

                <table class="table table-hover" v-if="resultsReady && possibleRecipeCount">
                    <thead>
                        <tr>
                            <th>Recipe</th>
                            <th>Ingredients</th>
                            <th>Best before</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="recipe in recipes" v-if="recipe.canCook">
                            <td>{{recipe.title}}</td>
                            <td>{{recipe.ingredients}}</td>
                            <td>{{recipe.bestBefore}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" v-if="resultsReady && !possibleRecipeCount">No results</div>
            </div>
        </lunch>

      </div>

    </div> <!-- /container -->


    <!-- vue development version -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/util.js"></script>
    <script src="js/app.js"></script>
</body>
</html>